@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #18191d;
    --tertiary-color: #AB0E24;
    --shadow-color: #d5d5d5;
    --light-shadow-color: #f7f8fb;
    --pink-color: #FF7D8F;
    --two-columns: 1fr 1fr;
    --light-weight: 300;
    --h3-size: 60px;
    --main-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

ul {
    list-style: none;
}

p {
    margin: 30px 0;
    font-weight: var(--light-weight);
    line-height: 1.6;
}

a:focus {
    outline: 5px solid #007BFF;
}

a:hover {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
}

audio:focus {
    outline: 5px solid #007BFF;     
}

video:focus {
    outline: 5px solid #007BFF;
}

.button {
    color: var(--primary-color);
    background-color: var(--tertiary-color); 
    padding: 15px 40px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 5rem;
    text-decoration: none;
    border: none;
}


header {
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: 100;
}


.navigation {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    width: 45%;
}

#logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

nav {
    width: 90%;

    & ul {
        display: flex;
        width: 100%;
    }

    & li {
        width: 100%;
        height: 70px;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: var(--primary-color);
            text-align: center;
            padding: 0 20px;
            text-decoration: none;
        }

        &:last-child {
            background-color: var(--tertiary-color);
        }
    }
}

.hero-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    background-color: var(--shadow-color);
    height: 100vh;
}

.hero-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40%;
    padding-right: 10%;

    & span {
        display: block;
        font-size: 3.5em;
        font-weight: 350;
        margin-bottom: 5px;
        color: var(--secondary-color);
    }

    & h3 {
        font-size: var(--h3-size);
        font-weight: 700;
        color: var(--secondary-color);
    }

    & p {
        font-size: 18px;
        font-weight: 400;
    }
}

.hero-section figure {
    background-repeat: no-repeat;
    background-image: url('../../../proyecto-multimedia/static/img/model1.webp'); 
    background-size: 62%;
    background-position: 25% bottom; 
}

.about-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    direction: rtl;
    background-color: var(--secondary-color);
    height: 85vh;
}

.about-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 2%;
    padding-right: 40%;
    text-align: left;

    & span {
        display: block;
        font-size: 1.3em;
        font-weight: var(--light-weight);
        margin-bottom: 15px;
        color: var(--primary-color);
    }

    & h3 {
        font-size: var(--h3-size);
        font-weight: var(--light-weight);
        line-height: 1.1;
        color: var(--pink-color);
    }

    & p {
        color: var(--primary-color);
    }

    & .button {
        background-color: var(--pink-color);
        color: var(--secondary-color);
    }
}

.about-section figure {
    background-repeat: no-repeat;
    background-image: url('../../../proyecto-multimedia/static/img/model2.webp'); 
    background-size: 60%; 
    background-position: right bottom;
}

.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

    & ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 200px));
        place-content: center;
        gap: 5%;
        text-align: center;
        line-height: 1.5;
    }

    & li {
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    & span {
        display: block;
        color: var(--tertiary-color);
        font-size: 36px; 
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.gallery-section {
    padding: 100px 0;
    background-color: var(--light-shadow-color);
    text-align: center;

    & figure {
        margin-top: 50px;
    }

    & figcaption {
        margin-top: 2%;
        line-height: 1.6;
        font-size: 1.8em;
        font-weight: 450;

        & span {
            display: block;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

.common-article {
    text-align: center;
    padding: 0 30%;

    & span {
        display: block;
        color: var(--tertiary-color);
        font-size: 23px; 
        font-weight: var(--light-weight);
        margin-bottom: 15px;
    }

    & h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: var(--h3-size);
        font-weight: var(--light-weight);
    }
}

.reviews-section {
    padding: 100px 0;
}

.reviews {
    display: flex; 
    justify-content: center; 
    align-items: start;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
}

.review {
    border-radius: 10px;
    width: 20%;
    min-height: 250px;
    padding: 0 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);

    & .icon {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        border-radius: 50%;
        transform: rotate(180deg) translateY(30px);
    }

    & p {
        font-size: 15px;
        line-height: 2;
        margin-top: 10px;
    }

    & figure {
        height: 90px;
        transform: translateY(40px);
    }

    & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    & figcaption {
        color: var(--secondary-color);
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: 800;

        & span {
            display: block;
            font-size: 16px;
            margin-top: 10px;
            font-weight: 350;
        }
    }
}

.main-review {
    background-color: var(--tertiary-color);

    & .icon {
        background-color: var(--secondary-color);
    }

    & figure {
        height: 120px;
        transform: translateY(60px);
    }

    & figcaption span {
        color: var(--tertiary-color)
    }
}

.dots {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}

#dot-selected {
    background-color: var(--secondary-color);
}

.blog-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    background-color: var(--secondary-color);
}

.blog-section .common-article {
    padding: 100px 10%;

    & span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 21px;
        color: var(--pink-color);
    }

    & h3 {
        color: var(--primary-color);
    }

    & p {
        color: var(--primary-color);
    }

    .button {
        display: inline-block;
        background-color: var(--pink-color);
        color: var(--secondary-color);
    }
}

.blog-section figure {
    background-repeat: no-repeat;
    background-image: url('../../../proyecto-multimedia/static/img/model7.webp'); 
    background-size: cover;
    background-position: center;
}

.appointment-section {
    padding: 100px 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 20px;
}

form {
    margin-left: 40%;
    min-height: 500px;
    padding: 20px;
}

form div {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--tertiary-color);
    font-size: 16px;
}

textarea {
    resize: none;
    min-height: 200px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(201, 0, 46, 1);
}

::placeholder {
    color: var(--secondary-color);
    opacity: 1;
}

button[type="submit"] {
    margin-top: 0px;
    width: 100%;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    cursor: pointer;
}

button[type="submit"]:focus {
    outline: 5px solid #007BFF; 
}

.contact-container ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
    color: var(--secondary-color);

    & li {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}


.youtube {
    width: 560px;
    background-image: url('https://i.ytimg.com/vi/jNQXAC9IVRw/hqdefault.jpg');
}

.map {
    height: 500px;
}

.footer-section {
    padding: 3% 0px;

    & ul {
        display: flex;
        justify-content: center;
        gap: 50px
    }

    & div {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
    }
}

@media (width <= 1440px) {
    .navigation {
        width: 65%;
    }

    .about-section figure {
        background-position: bottom;
    }
    .experience-section {
        height: 25vh;
    }

    .common-article {
        padding: 0 15%;
    }

    .review {
        width: 25%;
    }

    .blog-section {
        grid-template-columns: 1fr;
    }

    .blog-section figure {
        display: none;
    }

    form {
        margin-left: 20%;
    }

    .video-full {
        width: 1019px;
    }
}

@media (width <= 1024px) {
    .navigation {
        width: 80%;
    }

    .hero-section article {
        padding-left: 25%;
    }

    .hero-section figure {
        background-position: center 57%;
    }

    .about-section {
        height: 65vh;
    }

    .about-section article {
        padding-right: 15%;
    }

    .about-section figure {
        background-position: center 65%;
    }

    .experience-section {
        height: 20vh;

        & ul {
            gap: 0px;
        }

        & li {
            font-size: 13px;
            font-weight: 500;
        }

        & span {
            font-size: 2em;
            font-weight: 600;
        }
    }

    .gallery-section {

        & img {
            width: 50%;
        }

        & figcaption {
            font-size: 1.6em;

            & span {
                font-size: 15px;
            }
        }
    }

    .reviews {
        gap: 20px;
    }

    .review {
        width: 30%;
        padding: 0 20px;
    }

    form {
        margin-left: 10%;
    }

    .video-full {
        width: 760px;     
    }
}

@media (width <= 768px) {
    header {
        position: relative;
        top: 0;
    }

    .navigation {
        width: 100%;
        flex-direction: column;
    }

    #logo{
        display: none;
    }

    nav {
        width: 100%;

        & li {
            height: 65px;

            & a {
                padding: 15px 10px;
                font-size: 14px;
            }
        }
    }

    .gallery-section, .reviews-section, .blog-section, .appointment-section, .footer-section {
        padding: 50px 0;
    }

    .hero-section, .about-section {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 0px;
    }

    .hero-section article, .about-section article {
        padding: 40px 5%;
        align-items: center;
        text-align: center;
    }

    .hero-section figure, .about-section figure {
        height: 400px;
        background-size: contain;
        background-position: center bottom;
    }

    .experience-section {
        margin: 30px 0;
        
        & ul {
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(2, 100px);
            place-items: center;
        }
    }

    .gallery-section {

        & figcaption {
            font-size: 1.4em;
        }
    }

    .common-article {
        padding: 0 5%;
    }

    .reviews {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        gap: 150px;
    }

    .review {
        width: 80%;
        min-height: 150px;

        & p {
            margin: 0;
        }

        & figure {
            height: 65px;
            transform: translateY(20px);
        }

        & figcaption {
            margin-top: 0px;
            font-size: 1em;
            font-weight: 600;

            & span {
                font-size: 14px;
                margin-top: 2px;
            }
        }
    }

    .main-review {
        order: -1;

        & figure {
            height: 65px;
            transform: translateY(20px);
        }
    }

    .dots {
        height: 150px;
    }

    .blog-section .common-article {
        padding: 0px 5%;
    }

    .hero-section article, .about-section article, .common-article {
        & span {
            font-size: 2em;
        }

        & h3 {
            font-size: 40px;
        }
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    form {
        margin-left: 0;
    }

    .contact-container ul {
        margin: 0 auto;
        gap: 30px;

    }

    .video-full {
        width: 470px;     
    }

    .youtube {
        width: 470px;
    }

    .map {
        height: 350px;
    }
}

@media (width <= 480px) {
    nav ul {
        display: block;

        & li {
            height: auto;
        }
    }

    .hero-section, .about-section {
        padding-top: 25px;
    }

    .hero-section article h3, .about-section article h3 {
        font-size: 30px;
    }
    
    .hero-section figure, .about-section figure {
        height: 300px;
    }

    .gallery-section {
        & img {
            min-width: 200px;
        }
    }

    .reviews {
        gap: 130px;
    }

    .review {
        width: 90%;
        padding: 0 20px;

        & .icon {
            width: 45px;
            height: 45px;
            transform: rotate(180deg) translateY(22px);
        }

        & .quote {
            width: 25px;
            height: 25px;
        }

        & img {
            width: 80px;
            height: 80px;
        }
    }

    .dots {
        height: 125px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .map {
        height: 250px;
    }

    .footer-section {
        padding-bottom: 20px;
    }

    .video-full {
        width: 350px;     
    }

    .youtube {
        width: 300px;
    }
}


