@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #fff;
    --secondary-color: #18191d;
    --tertiary-color: #d81732;
    --shadow-color: #d5d5d5;
    --light-shadow-color: #f7f8fb;
    --number-color: #d71920; /* Color de los números */
    --two-columns: 1fr 1fr;
    --ligh-weight: 300;
    --h3-size: 60px;
    font-family: "Roboto", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del "Header" */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    position: absolute;
    top: 45px;
    width: 45%;
    z-index: 100; /*Aseguramops que el header esté encima del hero-section*/
}

/* Ocultar los h1 */
h1 {
    display: none;
}

/* Ocultar los h2 */
h2 {
    display: none;
}

/* Eliminar todos los puntos y decoraciones de las listas*/
ul {
    list-style: none;
}

/* Estilos Generales para los párrafos */
p {
    margin: 30px 0;
    font-weight: var(--ligh-weight);
    line-height: 1.6;
}

/* Estilos Generales para los botones*/
.button {
    color: var(--primary-color);
    background-color: var(--tertiary-color); 
    padding: 15px 40px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 5rem;
    text-decoration: none;
    border: none;
}

/* Estilo del Logo*/
#web-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

/* 
 * Estilos del de la Barra de Navegación 
 */
nav {
    width: 90%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav li {
    width: 100%;
}

nav li a {
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

#selected {
    background-color: var(--tertiary-color);
}

/* 
 * Estilos para la sección Hero 
 */
.hero-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    background-color: var(--shadow-color);
    height: 100vh;
}

/* Estilos para el articulo de la sección hero */
.hero-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40%;
    padding-right: 10%;

    & span {
        display: block;
        font-size: 3.5em;
        font-weight: 350;
        margin-bottom: 5px;
        color: var(--secondary-color);
    }

    & h3 {
        font-size: var(--h3-size);
        font-weight: bold;
        color: var(--secondary-color);
    }

    & p {
        font-size: 18px;
        font-weight: 400;
        color: #333;
    }
}

/* Estilos para la imágen del hero */
.hero-section figure {
    background-repeat: no-repeat;
    background-image: url('../img/model1.png'); 
    background-size: 68%;
    background-position: 25% bottom; 
}

/* 
 * Estilos para la sección About 
 */
.about-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    background-color: var(--secondary-color);
    height: 100vh;
}

/* Estilos para el articulo de la sección about */
.about-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10%;
    padding-right: 40%;

    & span {
        display: block;
        font-size: 1.3em;
        font-weight: var(--ligh-weight);
        margin-bottom: 15px;
        color: var(--primary-color);
    }

    & h3 {
        font-size: var(--h3-size);
        font-weight: var(--ligh-weight);
        line-height: 1.1;
        color: var(--tertiary-color);
    }

    & p {
        color: var(--primary-color);
    }
}

/* Estilos para la imágen de la sección about */
.about-section figure {
    background-repeat: no-repeat;
    background-image: url('../img/model2.png'); 
    background-size: 68%; 
    background-position: 75% bottom;  
}

/* 
 * Estilos para la sección de la Experince
 */
.experience-section {
    padding: 50px 20px;

    /* Espaciado entre elementos */
    & ul {
        text-align: center;
        /* Flexbox para centrar y distribuir los ítems */
        display: flex;
        justify-content: center; /* Centra los ítems horizontalmente en el contenedor */
        align-items: center;     /* Centra los ítems verticalmente (si fuera necesario) */
        gap: 150px;              /* Espacio entre cada ítem */
    }

    /* List item individual (Centra el número y el texto) */
    & li {
        color: #333;            /* Texto gris oscuro */
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Estilo para los Números */
    & span {
        display: block;
        color: var(--number-color);
        font-size: 36px; 
        font-weight: bold;      /* Los números son más gruesos */
        margin-bottom: 5px;     /* Pequeño espacio entre el número y la descripción */
        line-height: 1.2;
    }
}

/*
 * Estilo para la sección Gallery
 */
.gallery-section {
    padding: 5% 0;
    background-color: var(--light-shadow-color);

    & figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    & figcaption {
        margin-top: 2%;
        line-height: 1.6;
        font-size: 1.8em;
        font-weight: 450;

        & span {
            display: block;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/* 
 * Estilos Generales para articulos de otras secciones
 */
.common-article {
    text-align: center;
    margin: 0 30%;

    & span {
        display: block;
        color: rgba(229, 103, 120);
        font-size: 22px; 
        font-weight: var(--ligh-weight);
        margin-bottom: 15px;
    }

    & h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: var(--h3-size);
        font-weight: var(--ligh-weight);
    }
}

/* 
 * Estilos para la sección Reviews
 */
.reviews-section {
    padding: 5% 0;
    min-height: 100vh;
}

/* Estilos para la sección de comentarios de los usuarios */
.reviews-section .comments-section {
    display: flex; 
    justify-content: center; 
    align-items: start;
    text-align: center;
    gap: 30px; /* Espacio entre cada tarjeta */
    margin-top: 100px;

    & h3 {
        display: none;
    }
}

/* Estilos para los asticulos dedicados de los usuarios*/
.review-article {
    border-radius: 10px;
    width: 20%;
    min-height: 250px;
    padding: 0 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);

    & .icon {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        border-radius: 50%;
        font-size: 3em;
        transform: rotate(180deg) translateY(30px);
    }

    & h4 {
        display: none;
    }

    & p {
        font-size: 15px;
        line-height: 2;
        margin-top: 10px;
    }

    & figure {
        height: 90px;
        transform: translateY(40px);
    }

    & img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    & figcaption {
        color: var(--secondary-color);
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: 800;

        & span {
            display: block;
            color:#444;
            font-size: 16px;
            margin-top: 10px;
            font-weight: 350;
        }
    }
}

/* Cambiar el color de fondo y tamaño de articulos pares */
.review-article:nth-child(odd) {
    background-color: var(--tertiary-color);

    & .icon {
        background-color: var(--secondary-color);
    }

    & figure {
        height: 120px;
        transform: translateY(60px);
    }

    & figcaption span {
        color: var(--tertiary-color)
    }
}

/* Estilo de la paginación para navegar entre articulos de comentarios */
.dots {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}

#dot-selected {
    background-color: var(--secondary-color);
}

/* 
 * Estilos para la sección Blog 
 */
.blog-section {
    display: grid;
    grid-template-columns: var(--two-columns);
    min-height: 55vh;
}

/* Estilos para el articulo de la sección blog */
.blog-section article {
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;

    & span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        margin-bottom: 10px;
        color: var(--tertiary-color);
    }

    & h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: var(--h3-size);
        font-weight: var(--ligh-weight);
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    & p {
        color: var(--primary-color);
    }
}

/* Estilos para la imágen de la sección blog */
.blog-section figure {
    background-repeat: no-repeat;
    /* La imagen como fondo cubre toda la columna */
    background-image: url('../img/model7.png'); 
    background-size: cover;
    background-position: center;
}

/* 
 * Estilos para la sección Appointment
 */
.appointment-section {
    padding: 5% 0;
    min-height: 100vh;
}

/* Estilos Generales del contenedor de Contacto */
.contact-container {
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 10px;
}

form {
    margin-left: 40%;
    min-height: 500px;
    padding: 20px;
}

/* Estilos de los Grupos de Campos (para separación) */
form div {
    margin-bottom: 20px;
}

/* Estilos Comunes para Inputs y Textarea */
input, textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--shadow-color);      /* Borde gris claro */
    font-size: 16px;
}

/* Estilo para el Textarea (el campo de Your Message) */
textarea {
    resize: none;
    min-height: 200px;
}

/* Efecto Focus para Inputs y Textarea */
input:focus, textarea:focus {
    border-color: #c9002e;
    outline: none;                              /* Elimina el contorno predeterminado del navegador */
    box-shadow: 0 0 5px rgba(201, 0, 46, 0.2);/* Sombra sutil al enfocar */
}

/* Estilo para el Placeholder (el texto dentro del campo) */
::placeholder {
    color: #999;
    opacity: 1; /* Asegura que sea visible en todos los navegadores */
}

/* Eliminar el margen-top por defecto de .button */
input[type="submit"] {
    margin-top: 0px;
}

/* Efecto Hover para el Botón */
input[type="submit"]:hover {
    background-color: #a80027; /* Rojo un poco más oscuro al pasar el ratón */
    cursor: pointer;
}

/* Estilo para la lista de información de contancto y horario de la empresa */
.contact-container ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
    color: gray;

    & li {
        display: flex;
        align-items: center;
        gap: 20px;

        & i {
            font-size: 30px;
        }
    }
}

/*
 * Estilo para la sección del Footer
 */
.footer-section {
    padding: 5% 0;

    /* Redes Sociales*/
    & ul {
        display: flex;
        justify-content: center;
        gap: 50px
    }

    /* Licencias */
    & div{
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
    }
}